<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <mat-toolbar style="margin-bottom: 20px;">

        <span>
          <h1>Translate</h1>
        </span>
        <span class="example-spacer"></span>


      </mat-toolbar>

      <div class="content">

        <div class="row">
          <div class="col-md-5">
            <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>Chọn ngôn ngữ</mat-label>
              <mat-select>
                <mat-option *ngFor="let lg of languages" [value]="lg">
                  {{lg}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Tiếng Nga</mat-label>
              <textarea style="height: 400px;" matInput></textarea>
            </mat-form-field>

          </div>
          <div class="col-md-2">
            <div style="display: flex;justify-content: center;align-items: center;height: 100%;">
              <button mat-raised-button color='primary' style="width: 100%;">Dịch</button>
            </div>
          </div>
          <div class="col-md-5">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Chon ngôn ngữ</mat-label>
              <mat-select>
                <mat-option *ngFor="let lg of languages" [value]="lg">
                  {{lg}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label></mat-label>
              <textarea style="height: 400px;" matInput disabled="true"></textarea>
            </mat-form-field>
          </div>
        </div>



      </div>
    </div>

    <div class="col-md-1"></div>
  </div>

</div>