.container {
  margin-top: 100px;
}
.example-spacer {
  flex: 1 1 auto;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
  
}
.content
{
    width: 100%;
    height: 500px;
   
}
